#context
{
    /*使背景图片自动适应屏幕大小*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../../images/newlogin/20121211_1.jpg);
    background-position: center;
    margin: auto;
    /*使背景图片自动适应屏幕大小*/
}

.title_head
{
    background-image: url(../../images/newlogin/Logo.png);
    background-repeat: no-repeat;
    padding: 0;
    background-position: center;
    height: 142px;
    width: 425px;
    /*float:left;*/
}

.main_content_style
{
    margin-top: 20px;
    height: auto;
    width: 100%;
}

.container
{
    position: relative;
    margin: auto;
    width: 900px;
    height: 300px;
}

.login_img
{
    background-image: url(../../images/newlogin/loginleft.png);
    background-repeat: no-repeat;
    /*float:left;*/
    height: 235px;
    width: 450px;
    margin: 0 0 0 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.title_style
{
    width: 900px;
    height: auto;
    margin: 0 auto;
}

.login_content
{
    float: right;
    margin: 0 0 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    height: 235px;
    width: 350px;
}

.ui_placeholder
{
    position: absolute;
    float: left;
    line-height: 40px;
    left: 10px;
    color: #BCBCBC;
    cursor: text;
}

form
{
    width: 350px;
    margin: 10px auto;
    /*border: solid 1px #4800ff;*/
    /*background: #FCF9EF;*/
    background: transparent;
    /*padding: 30px;*/
    /*box-shadow: 0 1px 10px rgba(0,0,0,0.1) inset;*/
}


.form_item
{
    display: block;
    height: 40px;
    position: relative;
    margin: 20px 0;
    top: 0px;
    left: 0px;
}

.ui_textinput
{
    width: 350px;
    border: solid 1px #ccc;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1) inset;
    height: 38px;
    /*text-indent: 10px;*/
}

    .ui_textinput:focus
    {
        box-shadow: 0 0 4px rgba(255,153,164,0.8);
        border: solid 1px #30aceb;
    }

#loginform
{
    border-radius: 5px;
    color: #0ff;
    border: none;
}

#subbtn
{
    width: 102px;
    height: 33px;
    border: none;
    background-image: url(../../images/newlogin/loginbutton.png);
}

    #subbtn:hover
    {
        cursor: pointer;
    }

.ui_hide
{
    display: none;
}

.option_item
{
    color: #BCBCBC;
}

a
{
    color: #808080;
    font-size: small;
    text-decoration: none;
}

    a:hover
    {
        text-decoration: underline;
    }

input.error
{
    border: 1px solid red;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1) inset;
}

label.error
{
    background: url("./demo/images/unchecked.gif") no-repeat 0px 0px;
    padding-left: 16px;
    padding-bottom: 2px;
    font-weight: normal;
    font-size: small;
    color: red;
}
