<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IChat">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IChat1">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:10001/chatservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChat" contract="ServiceReferenceYB.IChat"
                name="NetTcpBinding_IChat" />
            <endpoint address="net.tcp://localhost:10001/chatservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChat1" contract="ServiceReferenceTB.IChat"
                name="NetTcpBinding_IChat1" />
        </client>
    </system.serviceModel>
</configuration>