#content
{
    border-style: double;
    border-width: thin;
    margin: 10px auto;
    width: 1000px;
    padding-bottom: 150px;
}
/*左侧样式*/
.content_left{
	background:#eee;
	border: 1px solid #AAAAAA;
	width:200px;
	float:left;
	margin-right:10px;
} 
.global_module { 
	position:relative;
	background:#EEEEEE;
	padding-bottom:8px;
}
.module_up_down{ 
	position:absolute; 
	top:9px; 
	right:10px; 
	cursor:pointer;
}
.global_module h3 { 
	height:26px; 
	background:#3B5998;
	color:#FFF; 
	line-height:26px; 
	text-indent:6px;
}
.content_left .news ul { 
	padding:5px 0 5px 15px; 
}
.content_left .procatalog ul { 
	padding:5px 0 5px 15px; 
}
/*右侧样式*/
.content_right{
	background:#eee;
	border : 1px solid #AAAAAA;
	width: 786px;
	float:left;
}
/**最新动态 样式*/
.content_left .scrollNews{
	width:200px;
	height:85px;
	line-height:20px;
	overflow:hidden;
	background:#FFFFFF;
}
.content_left .scrollNews li{
	height:20px;
}
/**产品分类样式**/
.idmsg_container .person_info
{
    margin: 10px;
    background: #FFFFFF;
}

/*滚动广告样式*/
.content_right .ad { 
	margin-bottom:10px;
	width:786px; 
	height:150px; 
	overflow:hidden;
	position:relative;
}
.content_right .slider,.content_right .num{
	position:absolute;
}
.content_right .slider li{ 
	list-style:none;
	display:inline;
}
.content_right .slider img{ 
	width:786px; 
	height:150px;
	display:block;
}
.content_right .num{ 
	right:5px; 
	bottom:5px;
}
.content_right .num li{
	float: left;
	color: #FF7300;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	margin: 3px 1px;
	border: 1px solid #FF7300;
	background-color: #fff;
}
.content_right .num li.on{
	color: #fff;
	line-height: 21px;
	width: 21px;
	height: 21px;
	font-size: 16px;
	margin: 0 1px;
	border: 0;
	background-color: #FF7300;
	font-weight: bold;
}
/*----------------------------
	CSS3 Animated Navigation
-----------------------------*/

nav
{
    display: block;
    margin: auto auto 0 0px;
    width: 800px;
}

.fancyNav
{
    /* Affects the UL element */
    margin: auto auto 0px 0px;
    overflow: hidden;
    display: inline-block;
    padding-left: 0px;
}

.fancyNav li
{
    /* Specifying a fallback color and we define CSS3 gradients for the major browsers: */
    background-color: #f0f0f0;
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%); /* Adding a 1px inset highlight for a more polished efect: */
    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    position: relative;
    float: left;
    list-style: none;
    top: 0px;
    left: 0px;
}

.fancyNav li:after{

	/* This creates a pseudo element inslide each LI */	
	
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
	
	/* Gradients! */
	
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
	background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	
	/* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */
	
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	/* This will create a smooth transition for the opacity property */
	
	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;
}
/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child
{
    border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	border-radius:4px 0 0 4px;
}

.fancyNav li:last-child
{
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	
	border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
	/* This property triggers the CSS3 transition */
	opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
	/* Hides the targeted li when we are hovering on the UL */
	opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
	opacity:1 !important;
}

/* Styling the anchor elements */

.fancyNav li a
{
    padding: 12px 20px 14px 20px;
    color: #5d5d5d;
    display: inline-block;
    font: 20px/1 Lobster,Arial,sans-serif;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index: 2;
    text-decoration: none;
    white-space: nowrap;
}

.fancyNav a.homeIcon{
	background:url('../Sources/home.png') no-repeat center center;
	display: block;
	overflow: hidden;
	padding-left: 12px;
	padding-right: 12px;
	text-indent: -9999px;
	width: 16px;
}
